[submodule "site-lisp/emacs-application-framework"]
	path = site-lisp/emacs-application-framework
	url = https://gitee.com/KiteAB/emacs-application-framework
[submodule "site-lisp/company-english-helper"]
	path = site-lisp/company-english-helper
	url = https://github.com/manateelazycat/company-english-helper
[submodule "site-lisp/insert-translated-name"]
	path = site-lisp/insert-translated-name
	url = https://github.com/manateelazycat/insert-translated-name
[submodule "site-lisp/awesome-tray"]
	path = site-lisp/awesome-tray
	url = https://github.com/manateelazycat/awesome-tray
[submodule "site-lisp/lazycat-theme"]
	path = site-lisp/lazycat-theme
	url = https://github.com/manateelazycat/lazycat-theme
[submodule "doc/emacs-document"]
	path = doc/emacs-document
	url = https://github.com/lujun9972/emacs-document
[submodule "site-lisp/auto-save"]
	path = site-lisp/auto-save
	url = https://github.com/manateelazycat/auto-save
[submodule "site-lisp/valign"]
	path = site-lisp/valign
	url = https://github.com/casouri/valign
